/* 
Project Name: Alto Labs "Coming Soon"
Author: Leonarda Pische
Developer @AltoLabs Los Angeles
*/


/******************************************
/* SETUP                   
/*******************************************/
/* Install Fonts */
@font-face {
     font-family: 'ninjaNaruto';
     src: url('../fonts/njnaruto.ttf');
}

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     background-color: rgb( 39, 39, 41 );
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
	margin: auto;
     text-align: center;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

.logo_container{
     margin-top: 14rem;
}

img .logo{

}

h1 {
     color: rgb( 201, 182, 175 );
     font-family: 'Fjalla One', sans-serif;
     font-size: 4.5rem;
}

.info {
     margin-top: 3rem;
}

.coming_soon{
     color: rgb( 196, 171, 173 );
     font-family: 'ninjaNaruto';
     font-size: 3rem;
     letter-spacing: .2rem;
}

a {
     color: rgb( 137, 137, 149 );
     font-family: 'Fjalla One', sans-serif;
     font-size: 1.6rem;
     letter-spacing: .1rem;

}

/* Buttons Container */

.buttons {
     text-align: center;
     width: 100%;
     margin-top: 2rem;
}

/*Dribbble Button*/

.button{
     height: 4rem;
     width: 10%;
     position: relative;
     border: 1px solid rgb( 152, 116, 120 );
     margin: 1rem auto;
     outline: 1px solid rgb( 152, 116, 120 );
     outline-offset: .1rem;

}

.button:before{
     content: " ";
     position: absolute;
     z-index: -1;
     top: .1rem;
     left: .1rem;
     right: .1rem;
     bottom: .1rem;
     border: 1px solid rgb( 152, 116, 120 );
}

.button.dribbble{
     float: left;
     margin-left: 39%;
}

.button.behance{
     float: left;
     margin-left: 2%;
}

/*left button text*/

.button-text {
     text-transform: uppercase;
     font-family: 'Cabin', sans-serif;
     font-weight: 700;
     position: relative;
     top: 25%;
     margin: auto;
     font-size: 94%;
     color: rgb( 196, 171, 173 );     
}

/*right button text*/

.right-button-text {
     text-transform: uppercase;
     font-family: 'Cabin', sans-serif;
     font-weight: 700;
     position: relative;
     top: 28%;
     font-size: 215%;
     color: rgb( 157, 157, 173 );     
}

