/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* 
Project Name: Alto Labs Production
Author: Leonarda Pische
Developer @AltoLabs Los Angeles
*/



/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

$altoPink: #ec008c;

#topFold{
    width: 100%;
    height: 50rem;
    overflow: hidden;
}

// Menu
#menu-toggle {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-left: 95%;
  margin-top: 2rem;

}
#menu-toggle i:before {
  content: '';
  width: 100%;
  height: 20%;
  background: $altoPink;
  position: absolute;
}

#menu-toggle:not(:active) i:before {
    
}
#menu-toggle i:after {
  content: '';
  width: 100%;
  height: 20%;
  background: $altoPink;
  position: absolute;
  top: 30%;
  box-shadow: 0 9px 0 0 $altoPink;
}
#menu-toggle.active i:before {
  -webkit-transform:rotate(45deg) translate(6px,6px);
   -moz-transform:rotate3d(1,2,3,45deg);
    -ms-transform:rotate3d(1,2,3,45deg);
     -o-transform:rotate3d(1,2,3,45deg);
        transform:rotate3d(1,2,3,45deg);;
}
#menu-toggle.active i:after {
  box-shadow: 0 0;
  -webkit-transform:rotate(-45deg);
   -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
     -o-transform:rotate(-45deg);
        transform:rotate(-45deg);
}

img {
    width: 100%;
    height: auto;
    margin-top: -8rem;
}

// For text in the upper fold "ALTO LABS" and "YEAH, WE CAN DO THAT."

@mixin headerText($fontSize, $marginTop, $marginLeft){
  position: absolute;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: $fontSize;
  margin-top: $marginTop;
  margin-left: $marginLeft;
}

.altoLabs{
  @include headerText(6rem, 12rem, 28%);
}


.imgText { 
  @include headerText(4rem, 20rem, 52%) 
}



.diagonal {
    position: absolute;
    width: 33rem; 
    border-bottom: .3rem solid $altoPink; 
    -webkit-transform: rotate(140deg); 
    margin-top: 21rem;
    margin-left: 37%;
}

// What we do section

#page-wrap { 
  width: 50%; 
  margin-top: 5rem; 
  position: relative;
  display:inline-block;
}

#page-wrap-1 {
  @extend #page-wrap;
  margin-left: 20%; 
}

#page-wrap-2 {
  @extend #page-wrap;
  margin-left: 30%; 
}

.whatWeDoText{
  font-family: 'Fjalla One', sans-serif;
  font-size: 4rem;
}

$imageWidth: 20%;

#logo { 
  position: absolute; 
  margin-top: 0; 
  left: 50%; 
  margin-left: -$imageWidth/2;
  width: $imageWidth;

}

@mixin floats($regFloat, $beforeFloat){
  float: $regFloat;

  &:before { 
    float: $beforeFloat;
    content: ""; 
    width: $imageWidth; 
    height: 12rem;  
  } 
}

#l { 
  @include floats(left, right);
}

#r { 
  @include floats(right, left);
}

#l, #r { 
  width: 49%; 

  p{
    font-family: 'Cabin', sans-serif;
    font-size: 1.75rem;
    line-height: 3rem;
  }
}

.ourWorkLines{
  margin-top: 5rem;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  font-size: 4rem;
  background-image: 
  linear-gradient($altoPink, transparent .05em);
  background-size: 100% .4em;
}

.project1{
  width:100%;
  display: inline-block;
}

.shortDescription {
  background: #f8f8f8;
  margin-top: 5rem;
  margin-left: 20%;
  width: 15%;
  height: auto;
  float: left;
  padding-left: 1.5rem;
  position: relative;
  
  h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 4rem;
  }

  p{
    font-family: 'Cabin', sans-serif;
    font-size: 1.75rem;
  }
}

.screenshotContainer{
  float:left;
  margin-left: 1%;
  position: relative;
  width:44%;
  // width:(100%-40%-1%-15%);
  margin-top: 5rem;
  overflow:hidden;
}

.shortDescription2 {
  background: #f8f8f8;
  margin-top: 5rem;
  margin-left: 1%;
  width: 15%;
  height: auto;
  float: left;
  padding-left: 1.5rem;
  position: relative;
  
  h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 4rem;
  }

  p{
    font-family: 'Cabin', sans-serif;
    font-size: 1.75rem;
  }
}

.screenshotContainer2{
  float:left;
  margin-left: 20%;
  position: relative;
  width:44%;
  // width:(100%-40%-1%-15%);
  margin-top: 5rem;
  overflow:hidden;
}
.seeMore{
    position: absolute;
    right: 2rem;
    margin-top: -4rem;
    height: 3rem;
    width: 20%;
    background: lime;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    line-height: 3rem;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.75rem;
  }

