/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* 
Project Name: Alto Labs Production
Author: Leonarda Pische
Developer @AltoLabs Los Angeles
*/



/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

$altoPink: #ec008c;
$headerFont: 'Fjalla One', sans-serif;
$subHeaderFont: 'Domine', serif;

// Test Fonts
// font-family: 'Cabin', sans-serif;
// font-family: 'Domine', serif;

// $headerFont: 'Oswald', sans-serif; Maybe try Droid Serif in ital?
// $subHeaderFont: 'Droid Serif', serif;

// $headerFont: 'Fjalla One', sans-serif;
// $subHeaderFont: 'Cantarell', sans-serif;

// $headerFont: 'Fjalla One', sans-serif;
// $subHeaderFont: 'Roboto', sans-serif;

// $headerFont: 'Fjalla One', sans-serif;
// $subHeaderFont: 'Domine', serif;



// Turn iphone media queries into simply @media #{iphone}{content_here}


$iphone: "only screen 
        and (min-device-width : 320px) 
        and (max-device-width : 568px) 
        and (orientation : portrait)";


#topFold{
  width: 100%;
  height: 50rem;
  overflow: hidden;
  @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
    height: 65rem;
    color: lime;
  }
}

// Menu
#menu-toggle {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-left: 95%;
  margin-top: 2rem;

}
#menu-toggle i:before {
  content: '';
  width: 100%;
  height: 20%;
  background: $altoPink;
  position: absolute;
}

#menu-toggle:not(:active) i:before {
    
}
#menu-toggle i:after {
  content: '';
  width: 100%;
  height: 20%;
  background: $altoPink;
  position: absolute;
  top: 30%;
  box-shadow: 0 9px 0 0 $altoPink;
}
#menu-toggle.active i:before {
  -webkit-transform:rotate(45deg) translate(6px,6px);
   -moz-transform:rotate3d(1,2,3,45deg);
    -ms-transform:rotate3d(1,2,3,45deg);
     -o-transform:rotate3d(1,2,3,45deg);
        transform:rotate3d(1,2,3,45deg);;
}
#menu-toggle.active i:after {
  box-shadow: 0 0;
  -webkit-transform:rotate(-45deg);
   -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
     -o-transform:rotate(-45deg);
        transform:rotate(-45deg);
}

img {
    width: 100%;
    height: auto;
    margin-top: -8rem;
}

// Menu Overlay

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(153,204,51,0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../../img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  font-size: 54px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
}

.overlay ul li a {
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #e3fcb1;
}

/* Effects */
.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: 4000;
}

.overlay-hugeinc nav {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.overlay-hugeinc nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}

// For text in the upper fold "ALTO LABS" and "YEAH, WE CAN DO THAT."

@mixin headerText($fontSize, $marginTop, $marginLeft){
  position: absolute;
  font-family: $headerFont;
  color: white;
  font-size: $fontSize;
  margin-top: $marginTop;
  margin-left: $marginLeft;
}

.altoLabs{
  @include headerText(6rem, 12rem, 28%);
  @media #{$iphone}{
    @include headerText(10rem, 10rem, 10%);
  }
}


.imgText { 
  @include headerText(4rem, 20rem, 52%);
  @media #{$iphone} {
    @include headerText(4.5rem, 18rem, 53%);
  } 
}

.diagonal {
    position: absolute;
    width: 33rem; 
    border-bottom: .3rem solid $altoPink; 
    -webkit-transform: rotate(140deg); 
    margin-top: 21rem;
    margin-left: 37%;

    @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
      width: 25rem;
      border-bottom: 0.5rem solid $altoPink;
      -webkit-transform: rotate(125deg);
      transform: rotate(125deg); 
      margin-top: 21rem;
      margin-left: 37%;

    }
}

.imageclass {
  @media #{$iphone}{
    width: 100%;
    height: auto;
    margin-top: -12rem;
  }
}

// What we do section

#page-wrap { 
  width: 50%; 
  margin-top: 5rem; 
  position: relative;
  display:inline-block;
}

@mixin stdLeftMargin {
  margin-left: 20%; 
}

#page-wrap-1 {
  @extend #page-wrap;
  @include stdLeftMargin;
  @media #{$iphone} {
      margin: 5rem 5% 5rem 5%;
      width: 90%
  }
}

#page-wrap-2 {
  @extend #page-wrap;
  margin-left: 30%; 
  @media #{$iphone} {
      margin: 5rem 5% 5rem 5%;
      width: 90%
  }
}

// Branding, Design, Coding Header Text
.whatWeDoText{
  font-family: $headerFont;
  font-size: 4rem;
  @media #{$iphone} {
    text-align: center;
    font-size: 6.5rem;
  }
}

$imageWidth: 20%;
$iphoneImageWidth: 30%;

#logo { 
  position: absolute; 
  margin-top: 0; 
  left: 50%; 
  margin-left: -$imageWidth/2;
  width: $imageWidth;
  @media #{$iphone} {
    width: $iphoneImageWidth;
    margin-left: -$iphoneImageWidth/2;
  }
}

@mixin floats($regFloat, $beforeFloat){
  float: $regFloat;

  &:before { 
    float: $beforeFloat;
    content: ""; 
    width: $imageWidth; 
    height: 12rem;
    @media #{$iphone} {
      width: $iphoneImageWidth;
      height: 25rem;
    }  
  } 
}

#l { 
  @include floats(left, right);
}

#r { 
  @include floats(right, left);
}

#l, #r { 
  width: 49%; 

  p{
    font-family: $subHeaderFont;
    font-size: 1.75rem;
    line-height: 3rem;
    @media #{$iphone} {
      font-size: 4rem;
      line-height: 5.25rem;
    }
  }
}

.separationLines{
  margin-top: 5rem;
  font-family: $headerFont;
  text-align: center;
  font-size: 4rem;
  background-image: 
  linear-gradient($altoPink, transparent .05em);
  background-size: 100% .4em;
  @media #{$iphone} {
    font-size: 7.5rem;
    background-size: 100% .2em;
  }
}

// Our Work

.ac-wrapper {
  margin-top: 5rem;
  width: 100%;
  position: relative;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 25%;
  -moz-perspective-origin: 50% 25%;
  perspective-origin: 50% 25%;
}

.ac-wrapper h2 {
  top: 20%;
  width: 50%;
  position: absolute;
  font-weight: 300;
  font-size: 4em;
  text-align: right;
  padding: 0 180px 0 50px;
  pointer-events: none;
  font-family: $headerFont
}

.ac-wrapper h2 span {
  display: block;
  font-size: 60%;
  color: #c0c0c0;
  font-family: $headerFont
}

.ac-device {
  background: url(../../images/iPhone.png) no-repeat;
  width: 288px;
  height: 611px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.ac-device a {
  height: 440px;
  width: 249px;
  display: inline-block;
  margin: 85px 0 0 20px;
}

.ac-device a img {
  display: block;
  margin-top: 0;
}

.ac-device h3 {
  position: absolute;
  font-size: 1.75rem;
  left: 100%;
  width: 100%;
  top: 60%;
  margin-left: 30px;
  font-weight: 300;
  // color: #888;
  font-family: $subHeaderFont
}

.ac-grid {
  position: absolute;
  width: 100%;
  padding-top: 11em;
  z-index: 1000;
  top: 0;
  left: 0;
  text-align: center;
  pointer-events: none;
}

.ac-grid a {
  width: 220px;
  display: inline-block;
  position: relative;
  margin: 10px 5px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateZ(-350px);
  -moz-transform: translateZ(-350px);
  transform: translateZ(-350px);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

.ac-grid a:first-child {
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  transform-origin: right center;
}

.ac-grid a:last-child {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center;
}

.ac-grid a img {
  display: block;
  width: 100%;
}

.ac-grid a span {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  text-transform: uppercase;
  padding: 4em 1em 0;
  z-index: 100;
  color: #ddd;
  background: rgba(0,0,0,0.4);
  font-weight: 700;
  opacity: 0;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.ac-grid a:hover span {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}

.ac-wrapper.ac-gridview .ac-device {
  -webkit-transform: translateZ(-350px);
  -moz-transform: translateZ(-350px);
  transform: translateZ(-350px);
  opacity: .6;
}

.ac-wrapper.ac-gridview .ac-grid {
  pointer-events: auto;
}

.ac-wrapper.ac-gridview .ac-grid a {
  opacity: 1;
  pointer-events: auto;
}


.ac-wrapper.ac-gridview .ac-grid a:nth-child(2) {
  -webkit-transition-delay: 50ms;
  -moz-transition-delay: 50ms;
  transition-delay: 50ms;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  transform: translateZ(0px);
}

.ac-wrapper.ac-gridview .ac-grid a:nth-child(3) {
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  transform: translateZ(0px);
}

.ac-wrapper.ac-gridview .ac-grid a:last-child {
  -webkit-transition-delay: 150ms;
  -moz-transition-delay: 150ms;
  transition-delay: 150ms;
}

@media screen and (max-width: 63.875em) {
  .ac-wrapper {
    padding: 0 20px 100px;
  }

  .ac-wrapper h2 { 
    width: 100%;
    text-align: center;
    margin: 0 0 1em;
    top: 0;
    left: auto;
    position: relative;
    padding: 0 0 0 0;
    font-size: 6.5rem;
  }

  .ac-device {
    margin: 0 auto;
    width: 288px;
  }

  .ac-device h3 {
    position: relative;
    margin: 0;
    left: auto;
    width: 100%;
    top: 100px;
    display: block;
    text-align: center;
    font-size: 4rem;
  }
}

@media screen and (max-width: 58em) {
  .ac-grid {
    width: 90%;
    left: 5%;
    margin-left: 0;
    padding-top: 8em;
  }

  .ac-grid a {
    width: 22%;
  }
}

@media screen and (max-width: 35.6875em) {
  .ac-wrapper {
    padding: 0 20px 100px;
  }

  .ac-wrapper h2 { 
    width: 100%;
    text-align: center;
    margin: 0 0 1em;
    top: 0;
    left: auto;
    position: relative;
  }

  .ac-device {
    margin: 0 auto;
    width: 288px;
  }

  .ac-device h3 {
    position: relative;
    margin: 0;
    left: auto;
    width: 100%;
    top: 100px;
    display: block;
    text-align: center;
  }

  .ac-grid a {
    width: 40%;
  }

  .ac-wrapper.ac-gridview .ac-grid a {
    -webkit-transform: translateZ(0px) !important;
    -moz-transform: translateZ(0px) !important;
    transform: translateZ(0px) !important;
  }
}
// Contact Us

/* general style for the form */
.nl-form {
  margin-top: 5rem;
  width: 100%;
  padding: 0 20% 0;
  font-family: $headerFont;
  font-size: 4em;
  line-height: 1.5;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  input:focus {
    outline: none;
  }
}

/* normalize the input elements, make them look like everything else */
.nl-form input,
.nl-form select,
.nl-form button {
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  display: inline-block;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* custom field (drop-down, text element) styling  */
.nl-field {
  display: inline-block;
  position: relative;
}

.nl-field.nl-field-open {
  z-index: 10000;
}

/* the toggle is the visible part in the form */
.nl-field-toggle,
.nl-form input,
.nl-form select  {
  line-height: inherit;
  display: inline-block;
  color: #b14943;
  cursor: pointer;
  border-bottom: 1px dashed #b14943;
}

/* drop-down list / text element */
.nl-field ul {
  position: absolute;
  visibility: hidden;
  background: #76C3BD;
  left: -0.5em;
  top: 50%;
  font-size: 80%;
  opacity: 0;
  -webkit-transform: translateY(-40%) scale(0.9);
  -moz-transform: translateY(-40%) scale(0.9);
  transform: translateY(-40%) scale(0.9);
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
}

.nl-field.nl-field-open ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  -webkit-transition: visibility 0s 0s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: visibility 0s 0s, opacity 0.3s, -moz-transform 0.3s;
  transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
}

.nl-field ul li {
  color: #fff;
  position: relative;
}

.nl-dd ul li {
  padding: 0 1.5em 0 0.5em;
  cursor: pointer;
  white-space: nowrap;
}

.nl-dd ul li.nl-dd-checked {
  color: #478982;
}

.no-touch .nl-dd ul li:hover {
  background: rgba(0,0,0,0.05);
}

.no-touch .nl-dd ul li:hover:active {
  color: #478982;
}

/* icons for some elements */
.nl-dd ul li.nl-dd-checked:before,
.nl-submit:before,
.nl-field-go:before {
  font-family: 'nlicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.nl-dd ul li.nl-dd-checked:before {
  content: "\e000";
  position: absolute;
  right: 1em;
  font-size: 50%;
  line-height: 3;
}

.nl-ti-text ul {
  min-width: 8em;
}

.nl-ti-text ul li.nl-ti-input input {
  width: 100%;
  padding: 0.2em 2em 0.2em 0.5em;
  border-bottom: none;
  color: #fff;
}

.nl-form .nl-field-go {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  background: rgba(0,0,0,0.1);
  width: 1.8em;
  text-align: center;
  color: transparent;
}

.nl-field-go:before {
  content: "\e001";
  font-size: 75%;
  color: #fff;
  width: 100%;
  line-height: 2.5;
  display: block;
}

/* custom placeholder color */
input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
}

input:active::-webkit-input-placeholder ,
input:focus::-webkit-input-placeholder {
  color: rgba(255,255,255,0.2);
}

input::-moz-placeholder {
  color: rgba(255,255,255,0.8);
}

input:active::-moz-placeholder,
input:focus::-moz-placeholder {
  color: rgba(255,255,255,0.2);
}

input:-ms-input-placeholder {  
  color: rgba(255,255,255,0.8);
}

input:active::-ms-input-placeholder ,
input:focus::-ms-input-placeholder {
  color: rgba(255,255,255,0.2);
}

/* example field below text input */
.nl-ti-text ul li.nl-ti-example {
  font-size: 40%;
  font-style: italic;
  font-weight: 400;
  padding: 0.4em 1em;
  color: rgba(0,0,0,0.2);
  border-top: 1px dashed rgba(255,255,255,0.7);
}

.nl-ti-text ul li.nl-ti-example em {
  color: #fff
}

/* submit button */
.nl-submit-wrap {
  margin-top: 0.4em;
}

.nl-form .nl-submit {
  line-height: 3;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  background: #76C3BD;
  color: #fff;
  padding: 0 1em 0 0;
  font-size: 40%;
  font-weight: bold;
  letter-spacing: 3px;
}

.nl-submit:before {
  content: "\e001";
  color: #fff;
  float: left;
  padding: 0 0.7em;
  margin: 0 0.8em 0 0;
  background: #69B1A9;
}

.no-touch .nl-form .nl-submit:hover,
.no-touch .nl-form .nl-submit:active {
  background: #69B1A9;
}

.no-touch .nl-form .nl-submit:hover:before {
  background: #58a199;
}

/* overlay becomes visible when a field is opened */
.nl-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  z-index: 9999;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s;
}

.nl-field.nl-field-open ~ .nl-overlay {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

@media screen and (max-width: 45em) {
  .nl-form {
    font-size: 3em;
  }
}

@media screen and (max-width: 25em) {
  .nl-form {
    font-size: 2em;
  }
}

// Mobile Contact Us
.mobileContactUs{
  display: none;
  margin-top: 5rem;
  font-family: $headerFont;
  font-size: 4rem;
  text-align: center;
}
