<!-- Zip Code -->
<div class="row collapse">
  <div class="small-10 columns deleteWhiteSpace">
    <input class="addressInput zipCode clearable" type="text" placeholder="Zip">
  </div>
  <div class="small-2 columns">
    <span class="postfix geoLocator"><i class="fa fa-crosshairs"></i></span>
  </div>
</div>

<!-- Address -->
<div class="medium-4 columns deleteWhiteSpace">
  <input type="text" class="addressInput address clearable" placeholder="Your Address">
</div>

<!-- APT Label -->
<div class="row collapse">
  <div class="small-2 columns">
    <span class="prefix ">APT #</span>
  </div>
  <div class="small-10 columns">
    <input type="tel" class="empty clearable" id="aptNumber" placeholder="&#xF040;">
  </div>
</div>

<!-- Name -->
<div class="small-12 columns deleteWhiteSpace">
  <input type="text" class="shippingName clearable" placeholder="Your Name">
</div>
