/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 
Project Name: Alto Labs "Coming Soon"
Author: Leonarda Pische
Developer @AltoLabs Los Angeles
*/
/******************************************
/* SETUP                   
/*******************************************/
/* Install Fonts */
@font-face {
  font-family: 'ninjaNaruto';
  src: url("../../../fonts/njnaruto.ttf");
}

/* Box Model Hack */
/* line 25, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */
}

/* Clear fix hack */
/* line 32, ../sass/screen.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 41, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 45, ../sass/screen.scss */
.alignright {
  float: right;
  padding: 0 0 10px 10px;
  /* note the padding around a right floated image */
}

/* line 50, ../sass/screen.scss */
.alignleft {
  float: left;
  padding: 0 10px 10px 0;
  /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/
/* line 60, ../sass/screen.scss */
body {
  background-color: #272729;
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
}

/******************************************
/* LAYOUT                   
/*******************************************/
/* Center the container */
/* line 74, ../sass/screen.scss */
#container {
  margin: auto;
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/
/* line 83, ../sass/screen.scss */
.logo_container {
  margin-top: 14rem;
}

/* line 91, ../sass/screen.scss */
h1 {
  color: #c9b6af;
  font-family: 'Fjalla One', sans-serif;
  font-size: 4.5rem;
}

/* line 97, ../sass/screen.scss */
.info {
  margin-top: 3rem;
}

/* line 101, ../sass/screen.scss */
.coming_soon {
  color: #c4abad;
  font-family: 'ninjaNaruto';
  font-size: 3rem;
  letter-spacing: .2rem;
}

/* line 108, ../sass/screen.scss */
a {
  color: #898995;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.6rem;
  letter-spacing: .1rem;
}

/* Buttons Container */
/* line 118, ../sass/screen.scss */
.buttons {
  text-align: center;
  width: 100%;
  margin-top: 2rem;
}

/*Dribbble Button*/
/* line 148, ../sass/screen.scss */
.button {
  height: 3rem;
  width: 10%;
  position: relative;
  border: 1px solid #987478;
  margin: 1rem auto;
  outline: 1px solid #987478;
  outline-offset: .1rem;
}
/* line 134, ../sass/screen.scss */
.button:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: .1rem;
  left: .1rem;
  right: .1rem;
  bottom: .1rem;
  border: 1px solid #987478;
}
/* line 151, ../sass/screen.scss */
.button.dribbble {
  float: left;
  margin-left: 39%;
}
/* line 155, ../sass/screen.scss */
.button.behance {
  float: left;
  margin-left: 2%;
}

/*left button text*/
/* line 167, ../sass/screen.scss */
.button-text {
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  position: relative;
  top: 25%;
  margin: auto;
  font-size: 94%;
  color: #c4abad;
}

/*right button text*/
/* line 180, ../sass/screen.scss */
.right-button-text {
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  position: relative;
  top: 28%;
  font-size: 215%;
  color: #9d9dad;
}
