/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* 
Project Name: Alto Labs Production
Author: Leonarda Pische
Developer @AltoLabs Los Angeles
*/
/* Box Model Hack */
/* line 15, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */
}

/* Clear fix hack */
/* line 22, ../sass/screen.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 31, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 35, ../sass/screen.scss */
.alignright {
  float: right;
  padding: 0 0 10px 10px;
  /* note the padding around a right floated image */
}

/* line 40, ../sass/screen.scss */
.alignleft {
  float: left;
  padding: 0 10px 10px 0;
  /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/
/* line 71, ../sass/screen.scss */
html {
  -webkit-text-size-adjust: 100%;
}

/* line 75, ../sass/screen.scss */
#section0 {
  margin-bottom: 0px !important;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 75, ../sass/screen.scss */
  #section0 {
    margin-top: 9%;
  }
}

/* line 86, ../sass/screen.scss */
.topFold {
  position: relative;
  width: calc(100% - 2 * $borderMargin);
  height: 52rem;
  background-image: url("img/hero.jpg");
}
/* line 94, ../sass/screen.scss */
.topFold:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  border: 1.2rem solid black;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 94, ../sass/screen.scss */
  .topFold:before {
    border: 0.5rem solid black;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 94, ../sass/screen.scss */
  .topFold:before {
    display: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 86, ../sass/screen.scss */
  .topFold {
    height: 65rem;
  }
}

/* line 120, ../sass/screen.scss */
#menu {
  position: fixed;
}

/* line 124, ../sass/screen.scss */
.si-icons {
  vertical-align: top !important;
  position: relative;
  top: 3%;
  right: 7%;
  display: block;
  z-index: 1000000000000;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 124, ../sass/screen.scss */
  .si-icons {
    top: -45%;
    right: 20%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 124, ../sass/screen.scss */
  .si-icons {
    top: -45%;
  }
}

/* line 143, ../sass/screen.scss */
.si-icons span {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 40px 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 1rem;
  margin-left: 92%;
  position: relative;
  z-index: 400001;
}

/* line 157, ../sass/screen.scss */
.si-icons-hover span {
  width: 128px;
  height: 128px;
  margin: 50px 40px;
}

/* line 163, ../sass/screen.scss */
svg {
  width: 70%;
}

/* Fallback for browsers that don't support SVG - Generated with http://iconizr.com/ */
/* line 167, ../sass/screen.scss */
.no-svg .si-icon-hamburger, .no-svg .si-icon-hamburger-cross {
  background-image: url("img/hamburger.png");
}

/* Overlay style */
/* line 172, ../sass/screen.scss */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ec008c;
  font-family: 'Domine', serif;
  font-style: italic;
}

/* Overlay closing cross */
/* line 184, ../sass/screen.scss */
.overlay .overlay-close {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 6%;
  overflow: hidden;
  border: none;
  background: no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 1000000000000000000000;
}

/* Menu style */
/* line 200, ../sass/screen.scss */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  font-size: 54px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 210, ../sass/screen.scss */
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
  top: -10%;
}

/* line 221, ../sass/screen.scss */
.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
}

/* line 229, ../sass/screen.scss */
.overlay ul li a {
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

/* line 238, ../sass/screen.scss */
.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #e3fcb1;
}

/* Effects */
/* line 243, ../sass/screen.scss */
.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

/* line 250, ../sass/screen.scss */
.overlay-hugeinc.open {
  opacity: .75;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: 4000;
}

/* line 258, ../sass/screen.scss */
.overlay-hugeinc nav {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

/* line 263, ../sass/screen.scss */
.overlay-hugeinc nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

/* line 271, ../sass/screen.scss */
.overlay-hugeinc.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

/* line 277, ../sass/screen.scss */
.overlay-hugeinc.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
  /* line 283, ../sass/screen.scss */
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }

  /* line 287, ../sass/screen.scss */
  .overlay ul li {
    min-height: 34px;
  }
}
/* line 294, ../sass/screen.scss */
.foldText {
  width: 100%;
  top: 35%;
  text-align: center;
  position: absolute;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 294, ../sass/screen.scss */
  .foldText {
    width: 70%;
    margin-left: 15%;
    top: 32%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 294, ../sass/screen.scss */
  .foldText {
    width: 80%;
    margin-left: 5%;
    top: 15%;
  }
}
/* line 309, ../sass/screen.scss */
.foldText .letter {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  color: black;
  font-weight: 400;
  font-style: italic;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 309, ../sass/screen.scss */
  .foldText .letter {
    font-size: 2rem;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 309, ../sass/screen.scss */
  .foldText .letter {
    font-size: 2rem;
  }
}
/* line 322, ../sass/screen.scss */
.foldText strike {
  color: #ec008c;
}
/* line 325, ../sass/screen.scss */
.foldText .tagLine {
  font-family: "Fjalla One", sans-serif;
  font-size: 4rem;
  margin-top: 3rem;
  color: #000000;
}
/* line 330, ../sass/screen.scss */
.foldText .tagLine .tldr {
  font-size: 3rem;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 330, ../sass/screen.scss */
  .foldText .tagLine .tldr {
    font-size: 2.5rem;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 325, ../sass/screen.scss */
  .foldText .tagLine {
    font-size: 3rem;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 325, ../sass/screen.scss */
  .foldText .tagLine {
    font-size: 3rem;
    margin-top: 1.5rem;
  }
}

/* line 346, ../sass/screen.scss */
.lowerRight {
  width: 9%;
  position: absolute;
  top: 11%;
  left: 45.5%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 346, ../sass/screen.scss */
  .lowerRight {
    width: 20%;
    top: 20%;
    left: 40%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 346, ../sass/screen.scss */
  .lowerRight {
    top: 48%;
  }
}
/* line 361, ../sass/screen.scss */
.lowerRight img {
  width: 75%;
  height: auto;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 361, ../sass/screen.scss */
  .lowerRight img {
    width: 60%;
  }
}

/* line 372, ../sass/screen.scss */
#roFiller {
  visibility: hidden;
}

/* line 376, ../sass/screen.scss */
.ourWork {
  display: block;
  width: 35%;
  margin: 0 auto;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 376, ../sass/screen.scss */
  .ourWork {
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 376, ../sass/screen.scss */
  .ourWork {
    display: none;
  }
}
/* line 386, ../sass/screen.scss */
.ourWork span {
  position: relative;
  margin: 3rem auto;
  width: 35%;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
}
/* line 401, ../sass/screen.scss */
.ourWork span:before, .ourWork span:after {
  content: "";
  position: absolute;
  height: 2px;
  background: #ec008c;
  top: 0;
  width: 86%;
}
/* line 413, ../sass/screen.scss */
.ourWork span:before {
  right: 68%;
  margin-right: 15px;
}
/* line 418, ../sass/screen.scss */
.ourWork span:after {
  left: 68%;
  margin-left: 15px;
}
/* line 422, ../sass/screen.scss */
.ourWork span img {
  width: 22%;
  margin: -1rem auto;
  display: block;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 422, ../sass/screen.scss */
  .ourWork span img {
    width: 32%;
  }
}
/* line 432, ../sass/screen.scss */
.ourWork h1 {
  margin-top: 3rem;
  font-family: "Fjalla One", sans-serif;
  text-align: center;
  letter-spacing: 1px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 432, ../sass/screen.scss */
  .ourWork h1 {
    margin-top: 2rem;
    font-size: 2rem;
  }
}

/* line 444, ../sass/screen.scss */
#roImage {
  width: 44%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 444, ../sass/screen.scss */
  #roImage {
    width: 85%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 444, ../sass/screen.scss */
  #roImage {
    width: 50%;
    margin-top: 3%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 455, ../sass/screen.scss */
  #ac-wrapper {
    margin-top: 0rem;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 455, ../sass/screen.scss */
  #ac-wrapper {
    margin-top: -5%;
  }
}

/* line 465, ../sass/screen.scss */
.ac-wrapper {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 25%;
  -moz-perspective-origin: 50% 25%;
  perspective-origin: 50% 25%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 465, ../sass/screen.scss */
  .ac-wrapper {
    margin-top: -5%;
  }
}

/* line 478, ../sass/screen.scss */
.ac-device {
  background: no-repeat;
  width: 38%;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 478, ../sass/screen.scss */
  .ac-device {
    margin: 3rem auto 1rem;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 478, ../sass/screen.scss */
  .ac-device {
    float: right;
    width: 45%;
    margin-right: 5%;
  }
}

/* line 500, ../sass/screen.scss */
.ac-device a {
  height: auto;
  width: 100%;
}

/* line 507, ../sass/screen.scss */
.ac-device a img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

/* line 513, ../sass/screen.scss */
.ac-grid {
  position: absolute;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  text-align: center;
  pointer-events: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 513, ../sass/screen.scss */
  .ac-grid {
    display: none;
  }
}

/* line 527, ../sass/screen.scss */
#ro1, #ro2, #ro3 {
  width: 30%;
}

/* line 531, ../sass/screen.scss */
.ac-grid a {
  vertical-align: middle;
  width: 220px;
  display: inline-block;
  position: relative;
  margin: 10px 5px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateZ(-350px);
  -moz-transform: translateZ(-350px);
  transform: translateZ(-350px);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
/* line 553, ../sass/screen.scss */
.ac-grid a:after {
  display: block;
  visibility: collapse;
  content: " ";
  clear: both;
  font-size: 0px;
}

/* line 562, ../sass/screen.scss */
.ac-grid a:first-child {
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  transform-origin: right center;
}

/* line 568, ../sass/screen.scss */
.ac-grid a:last-child {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center;
}

/* line 574, ../sass/screen.scss */
.ac-grid a img {
  display: block;
  width: 100%;
  border: 1px solid #cdcdcd;
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
}

/* line 588, ../sass/screen.scss */
.ac-grid a span {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  text-transform: uppercase;
  padding: 4em 1em 0;
  z-index: 100;
  color: #ddd;
  background: rgba(0, 0, 0, 0.4);
  font-weight: 700;
  opacity: 0;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 616, ../sass/screen.scss */
.ac-wrapper.ac-gridview .ac-device {
  -webkit-transform: translateZ(-350px);
  -moz-transform: translateZ(-350px);
  transform: translateZ(-350px);
  opacity: .1;
}

/* line 623, ../sass/screen.scss */
.ac-wrapper.ac-gridview .ac-grid {
  pointer-events: auto;
}

/* line 627, ../sass/screen.scss */
.ac-wrapper.ac-gridview .ac-grid a {
  opacity: 1;
  pointer-events: auto;
}

/* line 633, ../sass/screen.scss */
.ac-wrapper.ac-gridview .ac-grid a:nth-child(2) {
  -webkit-transition-delay: 50ms;
  -moz-transition-delay: 50ms;
  transition-delay: 50ms;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  transform: translateZ(0px);
}

/* line 642, ../sass/screen.scss */
.ac-wrapper.ac-gridview .ac-grid a:nth-child(3) {
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  transform: translateZ(0px);
}

/* line 651, ../sass/screen.scss */
.ac-wrapper.ac-gridview .ac-grid a:last-child {
  -webkit-transition-delay: 150ms;
  -moz-transition-delay: 150ms;
  transition-delay: 150ms;
}

@media screen and (max-width: 63.875em) {
  /* line 658, ../sass/screen.scss */
  .ac-wrapper {
    padding: 0 20px 100px;
  }

  /* line 662, ../sass/screen.scss */
  .ac-wrapper h2 {
    width: 100%;
    text-align: center;
    margin: 0 0 1em;
    top: 0;
    left: auto;
    position: relative;
    padding: 0 0 0 0;
    font-size: 6.5rem;
  }

  /* line 673, ../sass/screen.scss */
  .ac-device {
    margin: 0 auto;
    width: 288px;
  }

  /* line 678, ../sass/screen.scss */
  .ac-device h3 {
    position: relative;
    margin: 0;
    left: auto;
    width: 100%;
    top: 100px;
    display: block;
    text-align: center;
    font-size: 4rem;
  }
}
@media screen and (max-width: 58em) {
  /* line 691, ../sass/screen.scss */
  .ac-grid {
    width: 90%;
    left: 5%;
    margin-left: 0;
    padding-top: 8em;
  }

  /* line 698, ../sass/screen.scss */
  .ac-grid a {
    width: 22%;
  }
}
@media screen and (max-width: 35.6875em) {
  /* line 704, ../sass/screen.scss */
  .ac-grid {
    padding-top: 0em;
  }

  /* line 708, ../sass/screen.scss */
  .ac-wrapper {
    padding: 0 20px 100px;
  }

  /* line 712, ../sass/screen.scss */
  .ac-wrapper h2 {
    width: 100%;
    text-align: center;
    margin: 0 0 1em;
    top: 0;
    left: auto;
    position: relative;
  }

  /* line 721, ../sass/screen.scss */
  .ac-device {
    margin: 0 auto;
    width: 288px;
  }

  /* line 726, ../sass/screen.scss */
  .ac-device h3 {
    position: relative;
    margin: 0;
    left: auto;
    width: 100%;
    top: 100px;
    display: block;
    text-align: center;
  }

  /* line 736, ../sass/screen.scss */
  .ac-grid a {
    width: 40%;
  }

  /* line 740, ../sass/screen.scss */
  .ac-wrapper.ac-gridview .ac-grid a {
    -webkit-transform: translateZ(0px) !important;
    -moz-transform: translateZ(0px) !important;
    transform: translateZ(0px) !important;
  }
}
/* line 755, ../sass/screen.scss */
.threeColumn {
  width: 75%;
  margin: 0 auto;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 755, ../sass/screen.scss */
  .threeColumn {
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 10%;
  }
}
/* line 765, ../sass/screen.scss */
.threeColumn .workTitle {
  font-family: "Fjalla One", sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}
/* line 772, ../sass/screen.scss */
.threeColumn .vettoDescription {
  font-size: 1.3rem;
  font-family: "Domine", serif;
  font-weight: 700;
}
/* line 777, ../sass/screen.scss */
.threeColumn .vettoDescription .column1 {
  float: left;
  width: 32%;
  font-style: italic;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 777, ../sass/screen.scss */
  .threeColumn .vettoDescription .column1 {
    display: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 777, ../sass/screen.scss */
  .threeColumn .vettoDescription .column1 {
    display: none;
  }
}
/* line 789, ../sass/screen.scss */
.threeColumn .vettoDescription .column2 {
  float: left;
  width: 32%;
  margin-left: 8%;
  margin-right: 8%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 789, ../sass/screen.scss */
  .threeColumn .vettoDescription .column2 {
    width: 100%;
    margin-left: 0;
    font-size: 1.25rem;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 789, ../sass/screen.scss */
  .threeColumn .vettoDescription .column2 {
    width: 100%;
    margin-left: 0;
    font-size: 1.25rem;
  }
}
/* line 807, ../sass/screen.scss */
.threeColumn .vettoDescription .column2 .ourRoleContainer {
  width: 100%;
}
/* line 811, ../sass/screen.scss */
.threeColumn .vettoDescription .column2 .ourRoleContainer .ourRole {
  float: left;
  width: 33%;
}
/* line 815, ../sass/screen.scss */
.threeColumn .vettoDescription .column2 .ourRoleContainer .listRole {
  margin-left: 35%;
  font-style: italic;
}
/* line 824, ../sass/screen.scss */
.threeColumn .vettoDescription .column3 {
  float: left;
  width: 20%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 824, ../sass/screen.scss */
  .threeColumn .vettoDescription .column3 {
    margin-top: 1rem;
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 824, ../sass/screen.scss */
  .threeColumn .vettoDescription .column3 {
    display: none;
  }
}
/* line 834, ../sass/screen.scss */
.threeColumn .vettoDescription .column3 a {
  color: black;
}
/* line 837, ../sass/screen.scss */
.threeColumn .vettoDescription .column3 img {
  float: left;
  width: 25%;
  margin-right: 4%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 837, ../sass/screen.scss */
  .threeColumn .vettoDescription .column3 img {
    width: 20%;
    margin-right: 5%;
    float: left;
  }
}
/* line 847, ../sass/screen.scss */
.threeColumn .vettoDescription .column3 .glasses {
  float: left;
  line-height: 2.5em;
  font-family: "Fjalla One", sans-serif;
  letter-spacing: .1px;
  font-size: 1.5rem;
  width: 45%;
  margin-right: 5%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 847, ../sass/screen.scss */
  .threeColumn .vettoDescription .column3 .glasses {
    line-height: 3.5rem;
    font-size: 1.25rem;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 847, ../sass/screen.scss */
  .threeColumn .vettoDescription .column3 .glasses {
    font-size: 1.25rem;
  }
}
/* line 867, ../sass/screen.scss */
.threeColumn .vettoDescription .column3 .seeMoreArrow {
  vertical-align: center;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 867, ../sass/screen.scss */
  .threeColumn .vettoDescription .column3 .seeMoreArrow {
    display: none;
  }
}
/* line 872, ../sass/screen.scss */
.threeColumn .vettoDescription .column3 .seeMoreArrow a {
  border-radius: 50%;
}
/* line 876, ../sass/screen.scss */
.threeColumn .vettoDescription .column3 .seeMoreArrow a:hover .right {
  background: #dc0565;
}
/* line 881, ../sass/screen.scss */
.threeColumn .vettoDescription .column3 .seeMoreArrow a .right {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background: #ec008c;
}
/* line 888, ../sass/screen.scss */
.threeColumn .vettoDescription .column3 .seeMoreArrow a .right:after {
  content: '';
  display: inline-block;
  margin-top: 1em;
  margin-left: .8em;
  width: 0.6em;
  height: 0.6em;
  border-top: 2px solid white;
  border-right: 2px solid white;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 909, ../sass/screen.scss */
#roSeeMoreHide {
  visibility: hidden;
}

/* line 917, ../sass/screen.scss */
.emptyRectangle {
  width: 92%;
  height: 4px;
  border: 1px solid black;
  margin-bottom: 0.9rem;
}

/* line 926, ../sass/screen.scss */
.contactUsWrapper {
  background: #f2f2f2;
}
/* line 928, ../sass/screen.scss */
.contactUsWrapper .ourWork {
  padding-top: 2rem;
}
/* line 931, ../sass/screen.scss */
.contactUsWrapper .contactUsText {
  width: 30%;
  margin: 4rem auto;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 931, ../sass/screen.scss */
  .contactUsWrapper .contactUsText {
    width: 100%;
  }
}
/* line 937, ../sass/screen.scss */
.contactUsWrapper .contactUsText p {
  font-family: 'Cabin', sans-serif;
  font-size: 1.75rem;
  margin: 0 auto;
  text-align: center;
}
/* line 947, ../sass/screen.scss */
.contactUsWrapper .contactButton {
  width: 17%;
  border-radius: 6px;
  background: #ec008c;
  margin: 2rem auto;
  height: 6rem;
  font-family: "Fjalla One", sans-serif;
  font-size: 2rem;
  text-align: center;
  line-height: 6rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 947, ../sass/screen.scss */
  .contactUsWrapper .contactButton {
    width: 80%;
  }
}
/* line 965, ../sass/screen.scss */
.contactUsWrapper .contactButton:hover {
  background: #f2f2f2;
  border: 2px solid #ec008c;
  text-decoration: none;
  color: #ec008c;
}
/* line 970, ../sass/screen.scss */
.contactUsWrapper .contactButton:hover a {
  color: #ec008c;
}
/* line 974, ../sass/screen.scss */
.contactUsWrapper .contactButton a {
  text-decoration: none;
  color: white;
}
/* line 977, ../sass/screen.scss */
.contactUsWrapper .contactButton a:hover {
  color: #ec008c;
}

/* general style for the form */
/* line 985, ../sass/screen.scss */
.nl-form {
  margin-top: 5rem;
  width: 100%;
  padding: 0 20% 0;
  font-family: "Fjalla One", sans-serif;
  font-size: 4em;
  line-height: 1.5;
}
/* line 993, ../sass/screen.scss */
.nl-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 999, ../sass/screen.scss */
.nl-form input:focus {
  outline: none;
}

/* normalize the input elements, make them look like everything else */
/* line 1007, ../sass/screen.scss */
.nl-form input,
.nl-form select,
.nl-form button {
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  display: inline-block;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* custom field (drop-down, text element) styling  */
/* line 1023, ../sass/screen.scss */
.nl-field {
  display: inline-block;
  position: relative;
}

/* line 1028, ../sass/screen.scss */
.nl-field.nl-field-open {
  z-index: 10000;
}

/* the toggle is the visible part in the form */
/* line 1035, ../sass/screen.scss */
.nl-field-toggle,
.nl-form input,
.nl-form select {
  line-height: inherit;
  display: inline-block;
  color: #b14943;
  cursor: pointer;
  border-bottom: 1px dashed #b14943;
}

/* drop-down list / text element */
/* line 1044, ../sass/screen.scss */
.nl-field ul {
  position: absolute;
  visibility: hidden;
  background: #76C3BD;
  left: -0.5em;
  top: 50%;
  font-size: 80%;
  opacity: 0;
  -webkit-transform: translateY(-40%) scale(0.9);
  -moz-transform: translateY(-40%) scale(0.9);
  transform: translateY(-40%) scale(0.9);
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
}

/* line 1060, ../sass/screen.scss */
.nl-field.nl-field-open ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  -webkit-transition: visibility 0s 0s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: visibility 0s 0s, opacity 0.3s, -moz-transform 0.3s;
  transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
}

/* line 1071, ../sass/screen.scss */
.nl-field ul li {
  color: #fff;
  position: relative;
}

/* line 1076, ../sass/screen.scss */
.nl-dd ul li {
  padding: 0 1.5em 0 0.5em;
  cursor: pointer;
  white-space: nowrap;
}

/* line 1082, ../sass/screen.scss */
.nl-dd ul li.nl-dd-checked {
  color: #478982;
}

/* line 1086, ../sass/screen.scss */
.no-touch .nl-dd ul li:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* line 1090, ../sass/screen.scss */
.no-touch .nl-dd ul li:hover:active {
  color: #478982;
}

/* icons for some elements */
/* line 1097, ../sass/screen.scss */
.nl-dd ul li.nl-dd-checked:before,
.nl-submit:before,
.nl-field-go:before {
  font-family: 'nlicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

/* line 1107, ../sass/screen.scss */
.nl-dd ul li.nl-dd-checked:before {
  content: "\e000";
  position: absolute;
  right: 1em;
  font-size: 50%;
  line-height: 3;
}

/* line 1115, ../sass/screen.scss */
.nl-ti-text ul {
  min-width: 8em;
}

/* line 1119, ../sass/screen.scss */
.nl-ti-text ul li.nl-ti-input input {
  width: 100%;
  padding: 0.2em 2em 0.2em 0.5em;
  border-bottom: none;
  color: #fff;
}

/* line 1126, ../sass/screen.scss */
.nl-form .nl-field-go {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  width: 1.8em;
  text-align: center;
  color: transparent;
}

/* line 1138, ../sass/screen.scss */
.nl-field-go:before {
  content: "\e001";
  font-size: 75%;
  color: #fff;
  width: 100%;
  line-height: 2.5;
  display: block;
}

/* custom placeholder color */
/* line 1148, ../sass/screen.scss */
input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

/* line 1153, ../sass/screen.scss */
input:active::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

/* line 1157, ../sass/screen.scss */
input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

/* line 1162, ../sass/screen.scss */
input:active::-moz-placeholder,
input:focus::-moz-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

/* line 1166, ../sass/screen.scss */
input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

/* line 1171, ../sass/screen.scss */
input:active::-ms-input-placeholder,
input:focus::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

/* example field below text input */
/* line 1176, ../sass/screen.scss */
.nl-ti-text ul li.nl-ti-example {
  font-size: 40%;
  font-style: italic;
  font-weight: 400;
  padding: 0.4em 1em;
  color: rgba(0, 0, 0, 0.2);
  border-top: 1px dashed rgba(255, 255, 255, 0.7);
}

/* line 1185, ../sass/screen.scss */
.nl-ti-text ul li.nl-ti-example em {
  color: white;
}

/* submit button */
/* line 1190, ../sass/screen.scss */
.nl-submit-wrap {
  margin-top: 0.4em;
}

/* line 1194, ../sass/screen.scss */
.nl-form .nl-submit {
  line-height: 3;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  background: #76C3BD;
  color: #fff;
  padding: 0 1em 0 0;
  font-size: 40%;
  font-weight: bold;
  letter-spacing: 3px;
}

/* line 1207, ../sass/screen.scss */
.nl-submit:before {
  content: "\e001";
  color: #fff;
  float: left;
  padding: 0 0.7em;
  margin: 0 0.8em 0 0;
  background: #69B1A9;
}

/* line 1217, ../sass/screen.scss */
.no-touch .nl-form .nl-submit:hover,
.no-touch .nl-form .nl-submit:active {
  background: #69B1A9;
}

/* line 1221, ../sass/screen.scss */
.no-touch .nl-form .nl-submit:hover:before {
  background: #58a199;
}

/* overlay becomes visible when a field is opened */
/* line 1226, ../sass/screen.scss */
.nl-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 9999;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s;
}

/* line 1241, ../sass/screen.scss */
.nl-field.nl-field-open ~ .nl-overlay {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

@media screen and (max-width: 45em) {
  /* line 1250, ../sass/screen.scss */
  .nl-form {
    font-size: 3em;
  }
}
@media screen and (max-width: 25em) {
  /* line 1256, ../sass/screen.scss */
  .nl-form {
    font-size: 2em;
  }
}
/* line 1262, ../sass/screen.scss */
#mobileContactUs {
  display: none;
  margin-top: 5rem;
  font-family: "Fjalla One", sans-serif;
  font-size: 4rem;
  text-align: center;
}

/* line 1270, ../sass/screen.scss */
nav {
  position: fixed;
}

/* for all screens */
/* line 1275, ../sass/screen.scss */
.info {
  display: none;
}
