/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* 
Project Name: Alto Labs Production
Author: Leonarda Pische
Developer @AltoLabs Los Angeles
*/
/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */ }

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clear {
  clear: both; }

.alignright {
  float: right;
  padding: 0 0 10px 10px;
  /* note the padding around a right floated image */ }

.alignleft {
  float: left;
  padding: 0 10px 10px 0;
  /* note the padding around a left floated image */ }

/******************************************
/* BASE STYLES                   
/*******************************************/
#topFold {
  width: 100%;
  height: 50rem;
  overflow: hidden; }

.mobile-menu {
  position: absolute;
  width: 10%;
  height: 4rem;
  margin-left: 95%; }

#menu-toggle {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-left: 95%;
  margin-top: 2rem; }

#menu-toggle i:before {
  content: '';
  width: 100%;
  height: 20%;
  background: #ec008c;
  position: absolute; }

#menu-toggle i:after {
  content: '';
  width: 100%;
  height: 20%;
  background: #ec008c;
  position: absolute;
  top: 30%;
  box-shadow: 0 9px 0 0 #ec008c; }

#menu-toggle.active i:before {
  -webkit-transform: rotate(45deg) translate(6px, 6px);
  -moz-transform: rotate3d(1, 2, 3, 45deg);
  -ms-transform: rotate3d(1, 2, 3, 45deg);
  -o-transform: rotate3d(1, 2, 3, 45deg);
  transform: rotate3d(1, 2, 3, 45deg); }

#menu-toggle.active i:after {
  box-shadow: 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

img {
  width: 100%;
  height: auto;
  margin-top: -8rem; }

.altoLabs {
  position: absolute;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 6rem;
  margin-top: 12rem;
  margin-left: 28%; }

.imgText {
  position: absolute;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 4rem;
  margin-top: 20rem;
  margin-left: 52%; }

.diagonal {
  position: absolute;
  width: 33rem;
  border-bottom: 0.3rem solid #ec008c;
  -webkit-transform: rotate(140deg);
  margin-top: 21rem;
  margin-left: 37%; }

#page-wrap, #page-wrap-1, #page-wrap-2 {
  width: 50%;
  margin-top: 5rem;
  position: relative;
  display: inline-block; }

#page-wrap-1 {
  margin-left: 20%; }

#page-wrap-2 {
  margin-left: 30%; }

.brandingHeader {
  font-family: 'Fjalla One', sans-serif;
  font-size: 4rem; }

#logo {
  position: absolute;
  margin-top: 0;
  left: 50%;
  margin-left: -10%;
  width: 20%; }

#l, #r {
  width: 49%; }
  #l p, #r p {
    font-family: 'Cabin', sans-serif;
    font-size: 1.75rem;
    line-height: 3rem; }

#l {
  float: left; }

#r {
  float: right; }

#l:before, #r:before {
  content: "";
  width: 20%;
  height: 12rem; }

#l:before {
  float: right; }

#r:before {
  float: left; }

.ourWorkLines {
  margin-top: 5rem;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  font-size: 4rem;
  background-image: linear-gradient(#ec008c, transparent 0.05em);
  background-size: 100% .4em; }
