/* line 17, ../../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'twCenMT';
  src: url("../../../fonts/twCenMT.ttf");
}

@font-face {
  font-family: 'twCenMTBold';
  src: url("../../../fonts/twCenMTBold.ttf");
}

/* line 15, ../sass/screen.scss */
.hidden {
  display: none;
}

/* line 19, ../sass/screen.scss */
#myModal {
  top: 0px;
  font-family: 'twCenMT';
  height: auto;
}
@media (max-width: 40em) {
  /* line 19, ../sass/screen.scss */
  #myModal {
    border-radius: 0px;
    top: 0px;
  }
}

@media (min-width: 992px) {
  /* line 29, ../sass/screen.scss */
  #modalDialog {
    width: 30%;
  }
}
@media (max-width: 40em) {
  /* line 29, ../sass/screen.scss */
  #modalDialog {
    margin: 0px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 29, ../sass/screen.scss */
  #modalDialog {
    width: 40%;
  }
}

/* line 45, ../sass/screen.scss */
#modalBodyOverride {
  border-radius: 6px;
  padding: 0px 15px 15px;
  background: #f5f5f7;
}
@media (max-width: 40em) {
  /* line 45, ../sass/screen.scss */
  #modalBodyOverride {
    border-radius: 0px;
  }
}

/* line 54, ../sass/screen.scss */
#cardNumberContainer {
  overflow: hidden;
  width: 50%;
  background: lime;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: inline-block;
}
/* line 58, ../sass/screen.scss */
#cardNumberContainer input {
  width: 125%;
}
@media only small {
  /* line 54, ../sass/screen.scss */
  #cardNumberContainer {
    width: 100%;
  }
}

/* line 69, ../sass/screen.scss */
#showCardNumber {
  float: left;
  clear: both;
}

/* line 75, ../sass/screen.scss */
#cardNumber {
  border-right: none;
}

/* line 79, ../sass/screen.scss */
#expDate {
  display: none;
  border-left: none;
  border-right: none;
}

/* line 85, ../sass/screen.scss */
#cvc {
  display: none;
  border-left: none;
}

/* line 91, ../sass/screen.scss */
.background {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 7px 7px 0 0;
  margin: 1px 1px 0 1px;
  padding-bottom: 1rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d3d3d4;
  box-shadow: 0 1px 0 #fff;
  cursor: default;
}
/* line 105, ../sass/screen.scss */
.background .close {
  position: absolute;
  background-size: 100%;
  width: 22px;
  height: 23px;
  top: 7px;
  left: 8px;
  z-index: 10;
}
@media (max-width: 40em) {
  /* line 105, ../sass/screen.scss */
  .background .close {
    position: relative;
    left: -1rem;
  }
}
/* line 119, ../sass/screen.scss */
.background .image {
  width: 76px;
  height: 75px;
  position: absolute;
  left: 50%;
  margin-left: -38px;
  top: -30px;
}
@media (max-width: 40em) {
  /* line 119, ../sass/screen.scss */
  .background .image {
    width: 100%;
    height: 65px;
    position: relative;
    margin-left: 0px;
    top: 0px;
    left: 0%;
    background: white;
  }
}
/* line 137, ../sass/screen.scss */
.background .image img {
  background: #fff;
  width: 64px;
  height: 64px;
  display: block;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  margin: 4px 6px 0;
}
@media (max-width: 40em) {
  /* line 137, ../sass/screen.scss */
  .background .image img {
    margin: 0 auto;
    padding-top: 0.5px;
  }
}
/* line 155, ../sass/screen.scss */
.background .image:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url("../../../img/icon-border.png") no-repeat;
  background-size: 100% 100%;
}
@media (max-width: 40em) {
  /* line 155, ../sass/screen.scss */
  .background .image:after {
    background: none;
  }
}
/* line 169, ../sass/screen.scss */
.background .textContainer {
  position: relative;
  margin-top: 43px;
  overflow: hidden;
}
@media (max-width: 40em) {
  /* line 169, ../sass/screen.scss */
  .background .textContainer {
    margin-top: 0px;
  }
}
/* line 177, ../sass/screen.scss */
.background .textContainer form label {
  display: block;
  padding-left: 15px;
}
@media (max-width: 40em) {
  /* line 177, ../sass/screen.scss */
  .background .textContainer form label {
    padding-left: 0px;
  }
}
/* line 184, ../sass/screen.scss */
.background .textContainer form .itemQuantity {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'twCenMTBold';
  font-size: 1.15em;
}
@media (max-width: 40em) {
  /* line 184, ../sass/screen.scss */
  .background .textContainer form .itemQuantity {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    font-size: 1.6rem;
  }
}
@media (min-width: 40em) and (max-width: 768px) {
  /* line 184, ../sass/screen.scss */
  .background .textContainer form .itemQuantity {
    font-size: 1.5em;
  }
}
/* line 198, ../sass/screen.scss */
.background .textContainer form .itemQuantity img {
  padding: 0px;
  border-radius: 3px;
}
/* line 202, ../sass/screen.scss */
.background .textContainer form .itemQuantity .quantityAndDescription {
  margin-top: 0px;
  padding-left: 1.25rem;
}
/* line 211, ../sass/screen.scss */
.background .textContainer form .itemQuantity .quantityAndDescription input[type="tel"] {
  width: 2rem;
  height: 2rem;
  float: left;
  margin-right: 1.25rem;
  margin-bottom: 0px;
  padding: 0px;
  text-align: center;
}
@media (max-width: 40em) {
  /* line 211, ../sass/screen.scss */
  .background .textContainer form .itemQuantity .quantityAndDescription input[type="tel"] {
    width: 3rem;
    height: 3rem;
    border-radius: 3px;
  }
}
@media (min-width: 40em) and (max-width: 64em) {
  /* line 211, ../sass/screen.scss */
  .background .textContainer form .itemQuantity .quantityAndDescription input[type="tel"] {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 3px;
  }
}
/* line 232, ../sass/screen.scss */
.background .textContainer form .itemQuantity .quantityAndDescription .description {
  margin-left: 3.75rem;
  line-height: 1.3rem;
}
@media (max-width: 40em) {
  /* line 232, ../sass/screen.scss */
  .background .textContainer form .itemQuantity .quantityAndDescription .description {
    margin-left: 4.25rem;
    line-height: 1.25em;
  }
}
@media (min-width: 40em) and (max-width: 64em) {
  /* line 232, ../sass/screen.scss */
  .background .textContainer form .itemQuantity .quantityAndDescription .description {
    line-height: 2.5rem;
  }
}
@media (max-width: 40em) {
  /* line 248, ../sass/screen.scss */
  .background .textContainer form .wallCharger {
    display: inline-block;
  }
}
@media (max-width: 40em) {
  /* line 253, ../sass/screen.scss */
  .background .textContainer form .addOn {
    margin-top: 1.2rem;
    font-size: 1.3rem;
    margin-bottom: 0px;
  }
}
@media (min-width: 40em) and (max-width: 768px) {
  /* line 253, ../sass/screen.scss */
  .background .textContainer form .addOn {
    font-size: 1.2em;
  }
}
@media (max-width: 40em) {
  /* line 262, ../sass/screen.scss */
  .background .textContainer form .addOn .fa {
    font-size: 1.2em;
    line-height: .5em;
  }
}
/* line 269, ../sass/screen.scss */
.background .textContainer form .addOn .fa-check-square-o {
  color: #7FBEA0;
}

/* line 278, ../sass/screen.scss */
.paymentMethod {
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1em;
  border-bottom: 1px solid #cacacb;
}
@media (max-width: 40em) {
  /* line 278, ../sass/screen.scss */
  .paymentMethod {
    font-size: 1.25rem;
    height: 4.5rem;
    line-height: 4.5rem;
  }
}
@media (min-width: 40em) and (max-width: 768px) {
  /* line 278, ../sass/screen.scss */
  .paymentMethod {
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.5em;
  }
}
/* line 297, ../sass/screen.scss */
.paymentMethod .payCreditCard {
  background: #cacacb;
  color: white;
  border-bottom: 1px solid #cacacb;
}
/* line 301, ../sass/screen.scss */
.paymentMethod .payCreditCard span {
  font-style: italic;
}
/* line 305, ../sass/screen.scss */
.paymentMethod .payPayPal {
  background: white;
  color: #014179;
  border-bottom: 1px solid #cacacb;
}
/* line 309, ../sass/screen.scss */
.paymentMethod .payPayPal img {
  width: 40%;
}
@media (max-width: 40em) {
  /* line 309, ../sass/screen.scss */
  .paymentMethod .payPayPal img {
    width: 60%;
  }
}
@media (max-width: 40em) and (orientation: landscape) {
  /* line 309, ../sass/screen.scss */
  .paymentMethod .payPayPal img {
    width: 35%;
  }
}

/* line 321, ../sass/screen.scss */
.arrow-down {
  margin-left: 25%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #cacacb;
}

/* line 335, ../sass/screen.scss */
.shippingAddress .title {
  margin-top: 1rem;
}
/* line 337, ../sass/screen.scss */
.shippingAddress .title .titleText {
  font-size: 1.5em;
  margin-bottom: .5rem;
}
@media (max-width: 40em) {
  /* line 343, ../sass/screen.scss */
  .shippingAddress .inputFields {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-top: 1rem;
  }
}
@media (min-width: 40em) and (max-width: 768px) {
  /* line 343, ../sass/screen.scss */
  .shippingAddress .inputFields {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
}
/* line 356, ../sass/screen.scss */
.shippingAddress .inputFields input {
  border-color: #cacacb;
  border-bottom: none;
  box-shadow: none;
  border-radius: 0px;
  font-size: 1.5rem;
}
@media (max-width: 40em) {
  /* line 356, ../sass/screen.scss */
  .shippingAddress .inputFields input {
    height: 3rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 40em) and (max-width: 768px) {
  /* line 356, ../sass/screen.scss */
  .shippingAddress .inputFields input {
    font-size: 1.5em;
  }
}
/* line 370, ../sass/screen.scss */
.shippingAddress .inputFields .deleteWhiteSpace {
  height: 3.5rem;
}
@media (max-width: 768px) {
  /* line 370, ../sass/screen.scss */
  .shippingAddress .inputFields .deleteWhiteSpace {
    height: 4.5rem;
  }
}
/* line 377, ../sass/screen.scss */
.shippingAddress .inputFields .shippingName {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
@media (max-width: 768px) {
  /* line 377, ../sass/screen.scss */
  .shippingAddress .inputFields .shippingName {
    width: 99.9%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 377, ../sass/screen.scss */
  .shippingAddress .inputFields .shippingName {
    width: 99.9%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 377, ../sass/screen.scss */
  .shippingAddress .inputFields .shippingName {
    width: 100%;
  }
}
/* line 401, ../sass/screen.scss */
.shippingAddress .inputFields .postfix {
  border-top: 1px solid #cacacb;
  border-right: 1px solid #cacacb;
  border-bottom: none;
  line-height: 3em;
}
@media (max-width: 40em) {
  /* line 401, ../sass/screen.scss */
  .shippingAddress .inputFields .postfix {
    line-height: 5rem;
  }
}
@media (min-width: 40em) and (max-width: 768px) {
  /* line 401, ../sass/screen.scss */
  .shippingAddress .inputFields .postfix {
    line-height: 5.5rem;
  }
}
/* line 412, ../sass/screen.scss */
.shippingAddress .inputFields .postfix .fa-crosshairs {
  font-size: 1.5em;
  color: #46afee;
}
/* line 417, ../sass/screen.scss */
.shippingAddress .inputFields .prefix {
  border-top: 1px solid #cacacb;
  border-left: 1px solid #cacacb;
  border-bottom: 1px solid #cacacb;
  line-height: 3.5rem;
}
@media (max-width: 40em) {
  /* line 417, ../sass/screen.scss */
  .shippingAddress .inputFields .prefix {
    line-height: 4.5rem;
  }
}
@media (min-width: 40em) and (max-width: 768px) {
  /* line 417, ../sass/screen.scss */
  .shippingAddress .inputFields .prefix {
    font-size: 1.5em;
    line-height: 4.5rem;
  }
}
/* line 430, ../sass/screen.scss */
.shippingAddress .inputFields .zipCode {
  border-right: none;
  float: left;
}
/* line 434, ../sass/screen.scss */
.shippingAddress .inputFields .city {
  float: left;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 434, ../sass/screen.scss */
  .shippingAddress .inputFields .city {
    width: 66.5%;
  }
}
/* line 445, ../sass/screen.scss */
.shippingAddress .inputFields .countryLabel {
  border-top: none;
  border-bottom: 1px solid #cacacb;
  border-left: 1px solid #cacacb;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 0px;
  border-right: none;
  border-top-left-radius: 0px;
  line-height: 3rem;
}
@media (max-width: 40em) {
  /* line 445, ../sass/screen.scss */
  .shippingAddress .inputFields .countryLabel {
    line-height: 3.75rem;
  }
}
@media (min-width: 40em) and (max-width: 768px) {
  /* line 445, ../sass/screen.scss */
  .shippingAddress .inputFields .countryLabel {
    font-size: 1.5em;
    line-height: 3.75rem;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 445, ../sass/screen.scss */
  .shippingAddress .inputFields .countryLabel {
    line-height: 3rem;
  }
}
/* line 469, ../sass/screen.scss */
.shippingAddress .inputFields .country {
  border-top: none;
  border-bottom: 1px solid #cacacb;
  border-bottom-right-radius: 3px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 469, ../sass/screen.scss */
  .shippingAddress .inputFields .country {
    width: 75.1%;
  }
}

/* line 485, ../sass/screen.scss */
.clearable {
  background: url(http://i.imgur.com/z7ZSYjt.png) no-repeat right -10px center;
  border: 1px solid #999;
  padding: 3px 18px 3px 4px;
  /* USE the same right padding in jQ! */
  border-radius: 3px;
  transition: background 0.4s;
  /*Remove this line if issues in Chrome (02.2014)*/
}

/* (jQ addClass:) if input has value: */
/* line 494, ../sass/screen.scss */
.clearable.x {
  background-position: right 5px center;
}

/* (jQ addClass:) if mouse is over the 'x' input area*/
/* line 498, ../sass/screen.scss */
.clearable.onX {
  cursor: pointer;
}

/* line 503, ../sass/screen.scss */
#aptNumber {
  border-bottom: 1px solid #cacacb;
  box-shadow: none;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 503, ../sass/screen.scss */
  #aptNumber {
    width: 75.1%;
  }
}

/* line 524, ../sass/screen.scss */
.ui-autocomplete {
  padding: 0;
  list-style: none;
  background-color: #fff;
  width: 218px;
  border: 1px solid #B0BECA;
  max-height: 350px;
  overflow-y: scroll;
}

/* line 533, ../sass/screen.scss */
.ui-autocomplete .ui-menu-item a {
  border-top: 1px solid #B0BECA;
  display: block;
  padding: 4px 6px;
  color: #353D44;
  cursor: pointer;
}

/* line 540, ../sass/screen.scss */
.ui-autocomplete .ui-menu-item:first-child a {
  border-top: none;
}

/* line 543, ../sass/screen.scss */
.ui-autocomplete .ui-menu-item a.ui-state-hover {
  background-color: #D5E5F4;
  color: #161A1C;
}

/* line 547, ../sass/screen.scss */
.warrantyWrapper {
  margin-top: 1rem;
}
@media (min-width: 40em) and (max-width: 768px) {
  /* line 547, ../sass/screen.scss */
  .warrantyWrapper {
    margin-top: 2.5rem;
  }
}
/* line 552, ../sass/screen.scss */
.warrantyWrapper img {
  width: 100%;
}
@media (max-width: 40em) and (orientation: landscape) {
  /* line 552, ../sass/screen.scss */
  .warrantyWrapper img {
    width: 80%;
  }
}

/* line 560, ../sass/screen.scss */
.invalidInput {
  background: red;
}

/* line 564, ../sass/screen.scss */
#customButton {
  border-radius: 3px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #45b1e8;
  background-image: linear-gradient(#45b1e8, #3097de);
  text-shadow: 0 -1px 0 rgba(46, 86, 153, 0.3);
  -webkit-box-shadow: 0 1px 0 rgba(46, 86, 153, 0.15), 0 0 4px rgba(86, 149, 219, 0), inset 0 2px 0 rgba(41, 102, 20, 0);
  box-shadow: 0 1px 0 rgba(46, 86, 153, 0.15), 0 0 4px rgba(86, 149, 219, 0), inset 0 2px 0 rgba(41, 102, 20, 0);
  font-size: inherit;
  position: relative;
  top: inherit;
  right: inherit;
  color: white;
  font-weight: 400;
  font-size: 1.75rem;
}
@media (max-width: 40em) {
  /* line 564, ../sass/screen.scss */
  #customButton {
    font-size: 1.2em;
  }
}
@media (min-width: 40em) and (max-width: 768px) {
  /* line 564, ../sass/screen.scss */
  #customButton {
    font-size: 1.75em;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}
